div {
    width: 1000px;
}

table {
    box-shadow: 2px 2px 5px 5px grey;
    margin-top: 20px;
}

#menu {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: white;
    width: 100%;
}

#solutiondiv {
    margin-top: 140px;
}

#solutionfield {
    width: 100%;
    border: 1px solid black;
}

#solutionfield td {
    border: 1px solid black;
}